<div class="container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <label for="contactname">Name:</label>
      <input
        type="text"
        id="contactname"
        class="form-control"
        name="name"
        ngModel
        required
      >
    </div>
    <div class="row">
      <label for="phonenumber">Phone number:</label>
      <input
        type="text"
        id="phonenumber"
        class="form-control"
        name="phonenumber"
        ngModel
        required
      >
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
      <button
        class="btn btn-primary btn-space"
        type="submit"
        [disabled]="!f.valid"
      >
        {{ editMode ? 'Edit Contact' : 'Add Contact'}}
      </button>
      <button
        class="btn btn-primary btn-space"
        type="button"
        (click)="onCancel()"
        [disabled]="!f.valid"
        [hidden]="!editMode"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary btn-space"
        type="button"
        [disabled]="!f.touched"
        [hidden]="editMode"
        (click)="onClear()"
      >
        Clear
      </button>
    </div>
  </form>
  <hr>
  <div>
    <app-contact-card
      *ngFor="let contact of contacts; let i = index;"
      [contactName]="contact.name"
      [contactNumber]="contact.phonenumber"
      [index]="i"
    ></app-contact-card>
  </div>
</div>
